.board {
    min-width: 250px;
}

.board-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.board-top-left {
    display: flex;
    align-items: center;
    gap: 7px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.logo-pic{
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.board-top-right .icon {
    height: 16px; 
    width: 16px;
    margin: 0 4px; 
    color: #666;
}

.board-title {
    font-size: 16px; 
    font-weight: bold;
    color: #333; 
}

@media (max-width: 1200px) {
    .board {
      min-width: 220px;
    }
  
    .board-top-left {
      gap: 5px;
    }
  
    .logo-pic {
      height: 12px;
      width: 16px;
    }
  }
  
  @media (max-width: 768px) {
    .board {
      min-width: 100%;
    }
  
    .board-top {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }
  
    .board-top-right {
      display: flex;
      gap: 5px;
    }
  
    .card-container {
      gap: 5px;
    }
  }
  
  @media (max-width: 480px) {
    .board-top {
      padding: 10px 0;
    }
  
    .board-title {
      font-size: 16px;
    }
  
    .board-count {
      font-size: 14px;
    }
  }